@use '../abstracts' as *;

.playlistHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacer);
    background: var(--clr-neutral-200);
    justify-content: center;
    align-items: center;
    @include accentBorder();
    margin-bottom: 1rem;

    @include mq("medium") {
        padding: 0;
        margin-bottom: var(--spacer);
    }

    a {
        font-size: var(--fs-500);
        background: linear-gradient(90deg, var(--clr-neutral-200) 0%, var(--clr-neutral-200) 100%);
        padding: 1rem;
        width: 75px;
        text-align: center;
        transition: background .5s ease-in-out;
        -webkit-transition: background .5s ease-in-out;
        @include accentBorder();

        i {
            color: var(--clr-neutral-900);
            transition: color .5s ease-out,
                        transform .5s ease-out;
            -webkit-transition: color .5s ease-out, 
                                transform .5s ease-out;

            &.disabled {
                color: var(--clr-neutral-400);
            }
        }

        &:hover {

            &:first-child {
                background: linear-gradient(90deg, var(--clr-neutral-300) 0%, var(--clr-neutral-200) 100%);
            }

            &:last-child {
                background: linear-gradient(90deg, var(--clr-neutral-200) 0%, var(--clr-neutral-300) 100%);
            }

            i {

                &.previousBtn, &.nextBtn {
                    color: var(--clr-primary-400);
                }

                &.previousBtn {
                    transform: translateX(-7.5px);
                }

                &.nextBtn {
                    transform: translateX(7.5px);
                }

            }
        }
    }

    div {
        flex: 1;
        text-align: center;
        font-weight: 600;
        padding: 1rem;
    }
}

.playlist {
    margin-bottom: var(--spacer);

    &--item {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;

        &:nth-child(even) {
            background-color: #f5f5f5;
            @include accentBorder();
        }

        &__timestamp {
            font-family: var(--ff-primary);
            color: var(--clr-primary-500);
            font-size: var(--fs-400);
            font-weight: 800;
        }

        &__cover {
            img {
                width: 65px;
                aspect-ratio: 4 / 4;
                object-fit: cover;
                object-position: center;
                @include accentBorder();
            }
        }

        &__info {
            flex: 1;

            p {
                padding: 0;
                line-height: var(--fs-400);
                margin: 0;

                span {
                    color: var(--clr-primary-500);
                    font-size: var(--fs-400);
                    font-weight: 700;
                }
            }
        }

    }
}