@use '../abstracts' as *;
// Last songs
.lastSongs {
    background: rgb(230, 230, 230);
    padding: 2rem 0;

    @include mq("medium") {
        padding: 4rem 0;
    }

    h2 {
        grid-column: 1 / -1;
    }

    &--container {
        --spacer: 2rem;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacer);

        @include mq("medium") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq("large") {
            grid-template-columns: repeat(4, 1fr);
        }

        .songItem {
            display: grid;
            grid-template-areas: 'stack';
            place-items: end;
            max-height: 250px;
            @include accentBorder();
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
            transition: box-shadow 500ms;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px;
            }

            & > * {
                grid-area: stack;
            }

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &__info {
                width: 100%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
                z-index: 10;
                padding: 4rem 1rem 1rem;

                h4, h5 {
                    margin: 0;
                    padding: 0;
                    color: var(--clr-neutral-100);
                    line-height: var(--fs-400);
                }

                h4 {
                    font-family: var(--ff-primary);
                    font-size: var(--fs-300);
                }

                h5 {
                    font-weight: 400;
                    font-size: var(--fs-100);
                }
            }
        }
    }

    &--getMore {
        padding: 2rem 0 0;
        text-align: right;

        a {
            display: inline-block;
            padding: .5rem 1.5rem;
            background-color: var(--clr-neutral-100);
            color: var(--clr-primary-500);
            font-weight: 600;
            font-size: var(--fs-200);
            text-decoration: none;
            @include accentBorder();
            transition: color .5s ease-out,
                        background-color .5s ease-out;
            -webkit-transition: color .5s ease-out,
                                background-color .5s ease-out;

            i {
                margin-left: .5rem;
                transition: transform .5s ease-in;
                -webkit-transition: transform .3s ease-in-out;
                color: var(--clr-neutral-900);
            }

            &:hover {

                i {
                    transform: translateX(5px);
                }
            }
        }

        @include mq("medium") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq("large") {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.previews {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    margin-bottom: var(--spacer);

    .previewItem {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;

        .timestamp {
            position: absolute;
            top: -5px;
            left: -5px;
            background: var(--clr-primary-400);
            color: var(--clr-neutral-100);
            font-size: var(--fs-100);
            font-weight: 900;
            padding: .15rem .75rem;
            @include accentBorder();
            z-index: 2;
        }

        .previewImage {
            position: relative;
            display: block;
            overflow: hidden;
            @include accentBorder();
            box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
            z-index: 1;

            img {
                width: 100%;
                max-width: 202px;
                max-height: 202px;
                object-fit: cover;
                transition: transform .3s ease-out;
                @include accentBorder();
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        .previewText {
            padding: 1rem 0 0;

            h4 {
                font-size: var(--fs-300);
                line-height: var(--fs-400);
                color: var(--clr-neutral-900);
                text-transform: none;
                margin: 0;
                padding: 0;
            }

            p {
                font-size: var(--fs-200);
                line-height: var(--fs-400);
                color: var(--clr-neutral-800);
                font-weight: 300;
                text-transform: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

h3.moreSongs {
    display: block;
    color: var(--clr-primary-600);
    font-size: var(--fs-400);
    line-height: var(--fs-400);
    font-weight: 500;
    margin: 0 0 1rem 0;
}