@use "../abstracts" as *;

body {
    font-family: var(--ff-secondary);
}

.only--mobile {
    @include mq("medium") {
        display: none;
    }
}

h2.sectionTitle {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: var(--fs-500);
    text-transform: uppercase;
    color: var(--clr-neutral-800);

    @include mq('medium') {
        font-size: var(--fs-600);
    }
}