@use '../abstracts' as *;

:root { 
  --ff-primary: #{$ff-primary};
  --ff-secondary: #{$ff-secondary};
  --spacer: #{$spacer};

  @include mq("small") {
    --imageSize: 150px;
  }

  @include mq("medium") {
      --imageSize: 200px;
  }

  @include mq("large") {
      --imageSize: 225px;
  }

  @each $color, $shade in $colors {
    
    @each $property, $value in $shade {
      --clr-#{$color}-#{$property}: #{$value};
    } 
  }

  @each $screen-size, $property in $font-sizes {
    @if $screen-size == small {
      @each $prop, $value in $property { 
        --fs-#{$prop}: #{$value};
      }
    } @else { 
      @include mq($screen-size) {
        @each $prop,
        $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }
}