@use '../abstracts' as *;

footer {

    .moreAbout {
        --spacer: 1rem;
        padding: var(--spacer);
        background-color: var(--clr-primary-400);
        background-image: linear-gradient(var(--clr-primary-400), var(--clr-primary-500));

        @include mq("medium") {
            --spacer: 4rem;
        }

        .container {
            padding: 0;

            @include mq("medium") {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--spacer);
            }

            .logo {
                display: none;

                @include mq("medium") {
                    display: block;
                    margin-right: var(--spacer);
                }

                img {
                    width: 200px;
                    height: auto;
                }
            }

            .subMenu {
                flex: 1; 

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    @include mq('medium') {
                        margin: 0 0 0 var(--spacer);
                    }

                    li {
                        margin: .5rem 0;
                        
                        a {
                            font-family: var(--ff-primary);
                            position: relative;
                            color: var(--clr-neutral-200);
                            font-weight: 700;
                            text-decoration: none;
                            transition: color .3s ease-in-out;
                            
                            @include mq('medium') {
                                &::before {
                                    position: absolute;
                                    content: '\f054';
                                    font-family: FontAwesome;
                                    font-weight: normal;
                                    font-style: normal;
                                    display: inline-block;
                                    text-decoration: inherit;
                                    top: 1px;
                                    left: -20px;
                                    transition: transform .3s ease-in-out;
                                    font-size: var(--fs-100);
                                }
                            }

                            &:hover {
                                color: var(--clr-neutral-100);

                                &::before {
                                    transform: translate(5px);
                                }
                            }
                        }
                    }
                }
            }

            .socials {
                margin-top: var(--spacer);

                @include mq('medium') {
                    margin-top: 0;
                }

                h4 {
                    font-family: var(--ff-primary);
                    color: var(--clr-neutral-200);
                    font-weight: 800;
                    font-size: var(--fs-400);
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    gap: var(--spacer);
                    list-style: none;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0;
                    margin-top: .5rem;

                    li {
                        a {
                            color: var(--clr-neutral-100);
                            transition: transform .3s ease-in-out;

                            i {
                                font-size: var(--fs-600);
                                transition: transform .3s ease-in-out;
                                @include accentBorder();
                            }

                            &:hover {
                                i {
                                    transform: scale(1.15);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .legal {
        --spacer: 1rem;
        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-200);
        padding: var(--spacer) 0;
        font-weight: 700;
        font-size: var(--fs-200);
        font-family: var(--ff-primary);

        .container {
            padding: 0 1rem;
        }

        @include mq('medium') {
            --spacer: 2rem;

            .container {
                padding: 0;
            }
        }
    }
}

.margin-bottom {
    margin-bottom: var(--spacer);
}

.grecaptcha-badge {
    display: none !important;
}