@use '../abstracts' as *;

.latest-posts {
    padding: var(--spacer) 0;

    h2 {
        color: var(--clr-primary-500);
        font-weight: 700;
        font-size: var(--fs-500);
        line-height: var(--fs-500);
        margin: 0rem 0 2rem 1rem;

        @include mq("large") {
            font-size: var(--fs-700);
            line-height: var(--fs-600);
            margin: 2rem 0 4rem 0;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 1rem;
        grid-gap: var(--spacer);
        margin-bottom: 2rem;

        @include mq("medium") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq("large") {
            grid-template-columns: repeat(3, 1fr);
        }

        
    }

    .newsItem {
        display: block;
        position: relative;
        @include accentBorder();
        height: 250px;
        z-index: 1;
        overflow: hidden;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        img {
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            filter: blur(0px);
            transform: scale(1.0);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            z-index: 2;
        }

        &--category {
            position: absolute;
            display: inline-block;
            background: var(--clr-secondary-400);
            color: var(--clr-neutral-900);
            z-index: 4;
            top: 1rem;
            left: 1rem;
            font-size: var(--fs-100);
            @include accentBorder();
            padding: .25rem .5rem;
        }

        &--content {
            position: absolute;
            background: rgb(34,34,34);
            background: linear-gradient(
                hsl(0 0% 0% / 0),
                hsl(20 0% 0% / 0.2) 10%,
                hsl(0 0% 0% / .75)
            );
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            height: auto;
            z-index: 3;
            transform: translateY(1rem);
            transition: transform .6s ease-in-out;
            -webkit-transition: transform .6s ease-in-out;

            .title {
                color: var(--clr-neutral-100);
                font-weight: 600;
                font-size: var(--fs-500);
                line-height: var(--fs-500);
                text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
                font-family: var(--ff-primary);
            }

            .excerpt {
                display: block;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                padding: 1rem 0 0 0;
                transition: height .5s ease-in-out;
                color: var(--clr-neutral-300);
                font-family: var(--ff-secondary);
                font-size: var(--fs-200);
                text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
                transition: max-height .5s ease-in-out, opacity .5s ease-in-out;
                -webkit-transition: max-height .5s ease-in-out, opacity .5s ease-in-out;
            }
        }

        &:hover {

            img {
                filter: blur(2px);
                transform: scale(1.05);
            }

            .newsItem--content {
                transform: translateY(0);
                .excerpt {
                    max-height: 400px;
                    opacity: 1;
                    transition-delay: .2s;
                }
            }
            
        }
    }

    .btn-holder {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 1rem;

        a {
            display: inline-block;
            padding: .5rem 1.5rem;
            color: var(--clr-neutral-100);
            background-color: var(--clr-primary-500);
            font-weight: 600;
            font-size: var(--fs-200);
            text-decoration: none;
            @include accentBorder();

            i {
                margin-left: .5rem;
                transition: transform .5s ease-in;
                -webkit-transition: transform .5s ease-in-out;
                color: var(--clr-secondary-400);
            }

            &:hover {
                color: var(--clr-neutral-100);
                background-color: var(--clr-primary-500);

                i {
                    transform: translateX(5px);
                }
            }
        }
    }

}