@use '../abstracts' as *;

.newsItemSingle {
    position: relative;
    width: 100%;
    margin: 0;
    z-index: 2;
    padding-inline: 1rem;

    &--holder {
        background: var(--clr-neutral-100);
        padding: 1rem;
    }

    @include mq("medium") {
        margin: 0 auto;
        width: 840px;
        padding-inline: 0;

        &--holder {
            padding: 2rem;
        }
    }

    h3.newsItemSingle--title {
        color: var(--clr-primary-500);
        font-weight: 700;
        font-size: var(--fs-600);
        line-height: var(--fs-700);
        margin: 0 0 .5rem;
    }

    h4.newsItemSingle--subline {
        color: var(--clr-neutral-800);
        font-weight: 400;
        font-size: var(--fs-200);
        line-height: var(--fs-300)
    }

    h5.newsItemSingle--share {
        font-family: var(--ff-primary);
        color: var(--clr-primary-500);
        font-size: var(--fs-500);
        line-height: var(--fs-700);
        padding: 0;
        font-weight: 700;
        margin: 0;
    }

    ul.newsItemSingle--tags {
        margin: .5rem 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        
        li {
            a {
                padding: .1rem .75rem;
                @include accentBorder();
                border: 1px solid var(--clr-primary-500);
                font-size: var(--fs-100);
                font-weight: 600;
                color: var(--clr-primary-500);
                text-decoration: none;
                transition: color .5s ease-in-out;
                -webkit-transition: color .5s ease-in-out;

                &:hover {
                    color: var(--clr-primary-400);
                }
            }
        }
    }

    p {
        line-height: 24px;
        padding-bottom: 32px;

        a {
            position: relative;
            color: var(--clr-primary-400);
            font-weight: 600;
            text-decoration: none;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: rgb(8,115,185);
                background: linear-gradient(90deg, rgba(8,115,185,1) 0%, rgba(6,85,137,1) 100%);
                bottom: -2px;
                left: 0;
                position: absolute;
                transition: width .5s ease-in-out;
                -webkit-transition: width .5s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.topMargin {
    margin-top: 2rem
}

.bottomMargin {
    margin-bottom: 2rem
}

figure.newsItemSingle--cover {
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 3;
    padding-inline: 1rem;

    @include mq("medium") {
        margin: 0 auto;
        width: 875px;
        max-height: 450px;
        padding-inline: 0;
        @include accentBorder();
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}