/*** COLORS ***/

/**
 * Overview of the colors we use
 * The value is HSL based
 **/

$colors: (
  primary: ( 
    100: rgb(182, 224, 252),
    200: rgb(104, 190, 248),
    300: rgb(25, 157, 245),
    400: rgb(8, 115, 185),
    500: rgb(6, 85, 137),
    600: rgb(3, 45, 73),
    700: rgb(2, 28, 44),
  ),
  secondary: ( 
    100: rgb(255, 251, 229),
    200: rgb(255, 241, 153),
    300: rgb(254, 231, 77),
    400: rgb(252, 221, 9),
    500: rgb(178, 154, 1),
    600: rgb(102, 88, 0),
    700: rgb(26, 23, 0),
  ),
  neutral: (
    100: rgb(255, 255, 255),
    200: rgb(222, 222, 222),
    300: rgb(204, 204, 204),
    400: rgb(179, 179, 179),
    500: rgb(153, 153, 153),
    600: rgb(128, 128, 128),
    700: rgb(102, 102, 102),
    800: rgb(77, 77, 77),
    900: rgb(38, 38, 38),  
  )
);